name: Publish

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          fetch-tags: true
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10.11"
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r dev_requirements.txt
      - name: Build
        run: hatch build -t wheel
      - name: Publish
        env:
          API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: hatch publish -u __token__ -a "$API_TOKEN"
